<div data-role="page">
  <div data-role="header">
    <h1><%= @lyric.title %></h1>
  </div>
  <div data-role="content">
    <h1><%= @lyric.artist %></h1>
    <h2><%= @lyric.album %></h2>
    <% @lyric.body.split("\n").each do |line| %>
      <p><%= line %></p>
    <% end %>
  </div>
  <div data-role="footer"><h6>Dial-a-Lyric</h6></div>
</div>
