<div data-role="footer">
  <h6 style="width: 100%">Built by <a href="http://www.twitter.com/chrisdurtschi" target="_blank">@chrisdurtschi</a></h6>
  <h6 style="width: 100%">Voice by <a href="http://www.tropo.com" target="_blank">Tropo</a></h6>
</div>
